
#leftControl {
  float: left;
}

#rightControl {
  float : right;
}

#calandarDiv table, #calandarDiv th, #calandarDiv td{
  border-collapse: collapse;
}

#calandarDiv table {
  margin: auto;
  border: black solid 3px;
}

#calandarDiv th, #calandarDiv td {
  text-align: center;
  border: black solid 1px;
  width: 200px;
}

#calandarDiv td {
  height : 250px;
}

form table {
  border-collapse: collapse;
}

.inputBox {
  background-color: skyblue;
  z-index: 1;
}

div[id=joinBox] {
  border: solid black 1px;
  width: 300px;
  height: 100px;
  position: absolute;
  right: 130px;
}

div[id=addBox] {
  border: solid black 1px;
  width: 300px;
  height: 130px;
  position: absolute;
  left: 70px;
}

div[id=editBox] {
  border: solid black 1px;
  width: 300px;
  height: 130px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.works{
  z-index: 1;
}